.clients{
   padding: 200px 0 0px;
   h2{
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #EBE6FA;
   }
   p{
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: #E2E1E4;
      margin-bottom: 80px;
   
   }
   .whole__wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 24px;
      row-gap: 24px;
      margin-bottom: 80px;
   .sum__wrapper{
      .card{
         margin-bottom: 24px;
         display: grid;
         place-content: center;
         width: 170px;
         height: 96px;
         background-color: #fff;
         border-radius: 16px;
         box-shadow: 0 30px 40px 0 #D4D9E833;
      }
   }  
   }
}

// step_away

.step_away{
   padding-bottom: 250px;
   .wrapper{
      position: relative;
      padding-top: 224px;
      width: 100%;
      display: flex;
      justify-content: end;
   img {
      position: absolute;
   }
   img:nth-child(1){
      top: 73px;
      right: 238px;
   }
   img:nth-child(2){
      top: 73px;
      left: -87px;
   }
   .ball{
      position: relative;
      img{
         position: absolute;
         &:nth-child(1){
            top: 158px;
            left: -43px;
         }
         &:nth-child(2){
            top: 167px;
            left: -35px;
         }
      }
   }
   h3{
      @extend %helvetica_48;
      text-align: right;
      max-width: 990px;
   }
}
}

// discover

.discover{
   .wrapper{
      padding-bottom: 422px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left{
         position: relative;
         img{
            position: absolute;
            &:nth-child(1){
               left: 20px;
               top: 0;
            }
            &:nth-child(2){     
               left: -19px;
               top: -91px;
            }
            &:nth-child(3){     
               left: 316px;
               top: -86px;
            }
            &:nth-child(4){     
               left: 309px;
               top: 94px;
            }
            &:nth-child(5){     
               left: -9px;
               top: 130px;
            }
         }

      }
      .right{
         max-width: 563px; 
         padding-top: 40px;
         h3{
            @extend %helvetica_48;
            text-align: left;
         }
         p{
           @extend %p; 
           text-align: left;
         }
      }
   }
}

// last circle

.last_circle{
   padding: 500px 0;
   @extend %flex;
   .left{
      h3{
         @extend %helvetica_48;
         max-width: 563px;
      }
      p{
         @extend %p;
         max-width: 563px;
      }

   }
   .right{
      position: relative;
      img{
         position: absolute;
         &:nth-child(1){
            top: -222px;
            right: -44px;
         }
         &:nth-child(2){
            top: -270px;
            right: 255px;
         }
         &:nth-child(3){
            top: -43px;
            right: -124px;
         }
         &:nth-child(4){
            top: -156px;
            right: -99px;
         }
         &:nth-child(5){
            top: 69px;
            right: 318px;
         }
      }
   }
}

footer .container{
   // @extend %flex;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 200px;
   .left{
      width: 40%;
      p{
         @extend %p;
         padding: 28px 0 16px;
      }
      button{
         @include btnPrimary(#8C72FF, #fff, transprent, transprent,#8C72FF);
         border-radius: 100px;
         padding: 13px 8px;
      }
   }
   .right{
      width: 60%;
     table{
      color: #fff;
      text-align: left;
      tr{
         th, td{
            padding: 10px 15px;
         }
      }
     } 
   }
}